.db-brand {
    background-image: url("/assets/images/Logo_100.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    width: 50px;
    margin-right: 15px;
}

.db-background {
    background: linear-gradient(to bottom, lightblue, lightgoldenrodyellow) no-repeat fixed;
}

.left-aside, .create-doc-panel {
    background: rgba(255, 255, 255, 0.5);
    border: white solid 1px;
    border-radius: 10px;
    margin: -15px -10px;
    padding: 0 5px;
}

.context-panel {
    background-color: #f5f8fa;
    padding: 1px 5px 0 5px;
}

.add-space-top {
    margin-top: 15px;
}

hr {
    width: 100%;
    height: 2px;
    background-color: yellow;
    box-shadow: 0 -2px 8px 0 greenyellow;
}

table {
    background-color: #d7ebf6;
}

#show-drafts, #show-prepareds {
    margin: 10px 0;
}
